
.search_logo {
    max-width: 20px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 20px;;
}

.search_bar {
    display: grid;
    grid-template-columns: auto 20px 500px auto;
    grid-template-rows: 40% 60%;
    padding: 10px;
}

.search_question {
    grid-column: 2 / span 3;
    grid-row: 1;
}

.search_logo{
    grid-column: 2;
    grid-row: 2;
    position: relative;
    top: 8px;
    left: 3px;
}

.input {
    grid-column: 2 / span 2;
    grid-row: 2;
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(209, 208, 208);
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.input:hover {
    border-style: solid;
    border-color: coral;
}

.button {
    display: block;
    text-align: center;
    padding-top: 20px;
}

.button_color {
    background-color: #f4f4f4;
    color: #616161;
    padding: 10px;
    border-radius: 3px;
    box-shadow: none;
    border-style: solid;
    border-color: transparent;
    margin: 10px;
}

.button_color:hover {
    border-color: rgb(185, 184, 184);
    border-style: ridge;
}

footer {
    position: fixed;
    bottom: 0;
    right: 1px;
    width: 100%;
    background-color: lightgray;
}

li {
    display: inline;
    padding-inline: 5px;
    font-size: 13px;
}
a:hover {
    text-decoration: underline;
    color: black;
}
a {
    color: black;
    text-decoration: unset;
}
li:hover {
    text-decoration: underline;
}

#google_menu:hover {
    background-color: black;
}

.right_items {
    float: right;
}

.Sign_in {
    background-color: #4386fa;
    color: white;
    border-radius: 10px;
    padding: 5px;
}